{% extends "chat/base.html" %}
{% block content %}
<a href="{% url 'logout' %}">Выйти</a>
<form action="#" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Добавить администратора</button>
</form>

{% if messages %}
{% for message in messages %}
<div>
    {{ message }}
</div>
{% endfor %}
{% endif %}

{% for user in users %}
<div>
    <p><a href="{% url 'admin_detail' user.username  %}">Посмотреть диалоги пользователя{{user.username }}</a> - {{ user.get_rating }}</p>
</div>
{% endfor %}


{% endblock %}
