{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Чат</title>
</head>

<body>
    <header></header>
    <main>
        <div class="chat-box">
            <div class="messages" id="list_message">
                {% for message in messages %}
                <div class="message">
                    <div class="message__data">
                        {% if not message.author.is_stuff %}
                        <p>Пользователь {{message.author}}</p>
                        {% endif %}
                        <p>{{message.create_at}}</p>
                    </div>
                    <div class="message__body">
                        <p>{{message.body}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="chat__input">
                <textarea name="message" id="id_message" rows="10" placeholder="Текст сообщения"></textarea>
                <input type="file" id="id_image">
                <button type="submit" id="btn-send">Отправить</button>
                {{ dialog|json_script:"dialog" }}
                <button id="close-chat" type="button">Завершить диалог</button>
            </div>
        </div>
    </main>


<script>
        const dialog = JSON.parse(document.getElementById('dialog').textContent);
        const listMessage = document.getElementById('list_message')
        document.getElementById('btn-send').addEventListener('click', sendMessage)
        document.querySelector('#close-chat').addEventListener('click', closeChat)

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + dialog
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            const frag = document.createRange().createContextualFragment(
            `
            <div class="message">
                <div class="message__data">
                    <p class="admin-user">${data.username}</p>
                    <p>${data.create_at}</p>
                </div>
                <div class="message__body">
                    <p>${data.message}</p>
                </div>
            </div>
            `
            );
            listMessage.appendChild(frag)

            //document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            const fileInputDom = document.querySelector('#id_image');
            const fileData = fileInputDom.files[0];
            chatSocket.send(fileData);

            chatSocket.send(JSON.stringify({
                'message': message,
                'user': document.querySelector('#chat-message-user').value
            }));
            messageInputDom.value = '';
        };

        function closeChat(event) {
            chatSocket.send(JSON.stringify({
                'action': 'close',
                'chat': dialog
            }));
            chatSocket.close()
            // let user = document.querySelector('#chat-message-user').value
            window.location = `/user_room/`
        }



        function sendMessage() {
            let message = document.getElementById('id_message')
            console.log(message)
            chatSocket.send(JSON.stringify({
                'message': message.value
            }));
            message.value = ''
        }
    </script>
</body>
</html>
