{% extends "chat/base.html" %}
{% block content %}

        <a href="{% url 'logout' %}">Выйти</a>
        <div>
            {% csrf_token %}
            <textarea id="message" name="message" placeholder="Введите текст"></textarea>
            <button type="button" onclick="enterRoom()">Войти</button>
        </div>

        <div>
            {% for dialog_a in dialogs_active %}
                <a href="{% url 'room' dialog_a.id %}">Перейти в диалог {{dialog_a.id}}</a>
            {% endfor %}
        </div>
        <p> Оцените качество ответа на завершенные сеансы</p>
        <div>
            {% for dialog in dialogs %}
            {% if not dialog.check_active %}
            <p>
                {{dialog.messages.first}}
            </p>
             <a href="{% url 'room' dialog.id %}">Посмотреть диалог {{dialog.id}}</a>
            <form method="POST">
                {% csrf_token %}
                <input hidden id="dialog" name="dialog" value="{{dialog.id}}">
                {{form}}
            <button type="submit" class="btn.btn-primary">Добавить</button>
            </form>
            {% endif %}
            {% endfor %}
        </div>



<script>
    function enterRoom () {
        const message = document.getElementById('message').value;
        const csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].value
        let data = {
            'body': message
        };
        console.log(data);
        fetch("/api/number_create/", {
            method: "post",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfmiddlewaretoken
            },

              //make sure to serialize your JSON body
             body: JSON.stringify(data)
            })
            .then((response) => response.json())
            .then((data) => {
                window.location.href = '/chat/' + data.dialog + '/';
            });
    }
</script>

{% endblock content %}

