{% extends "chat/base.html" %}
{% block content %}

        <a href="{% url 'logout' %}">Выйти</a>
        <div class="index">
        <div>
            {% csrf_token %}
            <textarea cols="60" rows="5" id="message" name="message" placeholder="Введите текст"></textarea>
            <button class="index_button" type="button" onclick="enterRoom()">Войти</button>
        </div>
        {% if user.is_staff %}
            <p>Hello, admin.</p>
            {% for item in all_dialogs %}
                 <a href="{% url 'room' item.id %}">Перейти в диалог {{item.id}}</a>
            {% endfor %}
        {% else %}
            <p>Hello, ordinary visitor.</p>
        <div>
            {% for dialog_a in dialogs_active %}
            <ul>
                <li><a href="{% url 'room' dialog_a.id %}">Перейти в диалог {{dialog_a.id}}</a></li>
            </ul>
            {% endfor %}
        </div>
        {% if dialogs %}
        <p> Оцените качество ответа на завершенные сеансы</p>
        <div>
            {% for dialog in dialogs %}
            {% if not dialog.check_active %}
            <p>
                {{dialog.messages.first}}
            </p>
             <a href="{% url 'detail_dialog' dialog.id %}">Посмотреть диалог {{dialog.id}}</a>
            <form method="POST">
                {% csrf_token %}
                <input hidden id="dialog" name="dialog" value="{{dialog.id}}">
                <div class="form">{{form.as_p}}</div>
            <button type="submit" class="btn.btn-primary">Добавить</button>
            </form>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}
        </div>


<script>
    function enterRoom () {
        const message = document.getElementById('message').value;
        const csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].value
        let data = {
            'body': message
        };
        console.log(data);
        fetch("/api/number_create/", {
            method: "post",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfmiddlewaretoken
            },

              //make sure to serialize your JSON body
             body: JSON.stringify(data)
            })
            .then((response) => response.json())
            .then((data) => {
                window.location.href = '/chat/' + data.dialog + '/';
            });
    }
</script>

{% endblock content %}

