{% extends "chat/base.html" %}
{% block content %}
<div class="title">
    <div id="title_form">
        <div class="title_h3">
            <h3>Чат поддрежки </h3>
        </div>
        <form id="form" class="p-3" action='' method="POST">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <ul class="reg_list">
                <li><p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}:</label>{{f}}</p></li>
            </ul>
            <div class="from-error">{{f.errors}}</div>
            {% endfor %}
            <button type="submit">Войти</button>
        </form>
        <div class="button_reg"><a href="{% url 'register' %}"> Регистрация</a></div>

        <div class="button_forget"><a href="{% url 'password_reset' %}"><i>Забыли пароль?</i></a></div>

    </div>
</div>

{% endblock content %}
