{% extends "chat/base.html" %}
{% block content %}
<div class="title">
    <div id="reset_password_form">
        <div class="title_h3">
            <h3>Обновить пароль</h3>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <ul class="reg_list">
                <li><p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}:</label>{{f}}</p></li>
            </ul>
            <div class="from-error">{{f.errors}}</div>
            {% endfor %}
            <button type="submit">Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}
